UGS/
Programming/unipolar_driver/controller.X/nbproject
Programming/unipolar_driver/controller.X/dist/
Programming/unipolar_driver/controller.X/build/
Circuit/PWM Multiplexer/#auto_saved_files#
._.DS_Store
.DS_Store
refrences/
references/
*backups/
*cache
*cache/
__pychache__/
__pychache__
*/__pychache__/
*/__pychache__
*.pyc
/Programming/unipolar_driver/controller_mac.X/build/
/Programming/unipolar_driver/controller_mac.X/dist/
*.lck
/Programming/PCB_clamping_system/pcb-auto-clamping-controller.X/dist/
/Programming/PCB_clamping_system/pcb-auto-clamping-controller.X/build/
*/private.xml
